.navbar-brand  {

}

.slider-container{
  width: 90vw;
  margin: 0 auto;
}
.book-cards{
  margin-top: 50px;
}
.book-card-main-page{
  margin-bottom: 30px;
}
.admin-home-page-table{
  margin-top: 50px;
  padding-top:50px;
  padding-bottom: 700px;
  background-image: url(../img/background-admin2.jpg);
  background-size: cover;
}
.user-list-table{
  margin: 0 auto;
  width: 90vw;
}
.user-list-table table {
width: 80vw;
 }
th {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;}
td {
border-top:  2px solid grey;
border-bottom:  2px solid grey;
padding-left: 10px;
padding-top: 5px;
padding-bottom: 5px;}
.full-user-list-table a{
  margin-left: 10px;
}
.toggle-bg{
 background: #222; /* Вам понадобится видеть область с тумблером, но не стесняйтесь изменить цвет */
 display: block; /* ...Чтобы можно было установить высоту и ширину */
 float: left; /* ...Чтобы он не занимал всю ширину страницы */
 height: 7px; /* Если хотите, можно это попозже изменить */
 position: relative; /* Требуется, чтобы тумблер мог передвигаться */
 width: 26px; /* Это тоже можно позже изменить */
border-radius: 8px;
transition: left .2s ease;
background: linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
box-shadow: 0 1px 0 #fff, inset 0 0 2px #d7dee3, inset 0 1px 0 #d7dee3, inset 0 1px 5px #d7dee3;
}

.toggle-bg input{
 height: 28px;
 left: 0;
 margin: 0; /* Сбросьте поля и отступ */
 opacity: 0; /* Невидим! */
 padding: 0;
 position: absolute;
 top: -10px; /* Сдвиньте по вертикали */
 width: 36px;
 z-index: 2; /* Нам нужно, чтобы вход input находился сверху span.switch, которому мы назначим z-index в 1 */
}

.switch{
 background: #ccc;
 display: block;
 float: left;
 height: 14px;
 left: -1px; /* Это – начальная точка. При добавлении border radius показывается немного фона, если использовать left: 0;, поэтому лучше всего применить -1px.*/
 position: relative;
 top: -4px; /* ...Чтобы отцентрировать его по вертикали */
 width: 14px;
 z-index: 1; /* Помните, он должен быть под невидимыми входами inputs */
 background: radial-gradient(ellipse at center, #ffffff 0%,#fefefe 50%,#fdfdfd 51%,#ffffff 100%);
 box-shadow: 0 1px 1px #65727b, 0 0 1px #b6bdc2;
 border-radius: 8px;
}

.toggle-bg input:checked~.switch{ left: -1px; } /* Исходная позиция тумблера */

.toggle-bg input~:checked~.switch{ left: 13px; } /* окончательная относительная позиция переключателя */

.toggle-bg input:checked{ z-index: 0; }
